@inherits LayoutComponentBase
@inject DocTracking.Client.Services.LoadingService Loader
@implements IDisposable

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<style>
    @@keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>

<MudLayout>

    <MudDrawer Open="_drawerOpen"
               OpenChanged="HandleDrawerStateChange"
               Elevation="2"
               Variant="DrawerVariant.Mini">

        <MudDrawerHeader Class="pt-4 px-2">
            <AuthorizeView>
                <Authorized>

                    <MudPaper Class="pa-2 mb-20 rounded-lg d-flex flex-column align-center overflow-hidden"
                              Elevation="0"
                              Style="@($"width: 100%; transition: all 0.2s ease-in-out; {(_drawerOpen ? "height: 110px; background-color:rgb(189, 189, 189, 0.3);" : "height: 110px; background-color:transparent;")}")">

                        <MudIcon Icon="@Icons.Material.Filled.AccountCircle"
                                 Size="Size.Large"
                                 Color="Color.Default"
                                 Class="@(_drawerOpen ? "mb-2" : "")"
                                 Style="cursor: pointer;"
                                 @onclick="@(() => HandleDrawerStateChange(!_drawerOpen))" />

                        @if (_showText)
                        {
                            <div style="animation: fadeIn 0.8s ease-in-out; display: flex; flex-direction: column; align-items: center;">
                                <MudText Typo="Typo.subtitle1">@context.User.Identity?.Name</MudText>
                                <MudText Typo="Typo.caption" Class="mb-4">@context.User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value</MudText>
                            </div>
                        }

                    </MudPaper>

                </Authorized>
            </AuthorizeView>
        </MudDrawerHeader>

        <CascadingValue Value="_showText">
            <NavMenu />
        </CascadingValue>
    </MudDrawer>

    <MudMainContent @onclick="CloseDrawerOnClickOutside">
        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;
    bool _showText = true;

    async Task HandleDrawerStateChange(bool isOpen)
    {
        if (_drawerOpen == isOpen) return;

        if (isOpen)
        {
            _drawerOpen = true;
            StateHasChanged();
            await Task.Delay(250);
            _showText = true;
        }
        else
        {
            _showText = false;
            StateHasChanged();
            await Task.Delay(50);
            _drawerOpen = false;
        }
    }

    async Task CloseDrawerOnClickOutside()
    {
        if (_drawerOpen)
        {
            await HandleDrawerStateChange(false);
        }
    }

    protected override void OnInitialized()
    {
        Loader.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        Loader.OnChange -= StateHasChanged;
    }
}
