<style>
    @@keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
</style>

<div class="d-flex flex-column" style="height: 100%; overflow-x: hidden; white-space: nowrap;">

    <MudNavMenu Class="my-auto">

        <MudNavLink Class="mb-4" Href="/" Typo="Typo.h6" Match="NavLinkMatch.All" ForceLoad="true" Icon="@Icons.Material.Filled.Home">
            @if (ShowText)
            {
                <span style="animation: fadeIn 0.1s ease-in-out; display: inline-block;">Dashboard</span>
            }
        </MudNavLink>

        <AuthorizeView>
            <Authorized>
                @if (!context.User.IsInRole("Admin") && !context.User.IsInRole("Office"))
                {
                    <MudNavLink Class="mb-4" Href="/create-document" Icon="@Icons.Material.Filled.NoteAdd">
                        @if (ShowText)
                        {
                            <span style="animation: fadeIn 0.1s ease-in-out; display: inline-block;">Create Document</span>
                        }
                    </MudNavLink>
                    <MudNavLink Class="mb-4" Href="/my-tracking" Icon="@Icons.Material.Filled.History">
                        @if (ShowText)
                        {
                            <span style="animation: fadeIn 0.1s ease-in-out; display: inline-block;">My Tracking</span>
                        }
                    </MudNavLink>
                }

                @if (context.User.IsInRole("Office"))
                {
                    <MudNavLink Class="mb-4" Href="/office-desk" Icon="@Icons.Material.Filled.InsertDriveFile">
                        @if (ShowText)
                        {
                            <span style="animation: fadeIn 0.1s ease-in-out; display: inline-block;">Pending Documents</span>
                        }
                    </MudNavLink>
                    <MudNavLink Class="mb-4" Href="/unit-history" Icon="@Icons.Material.Filled.History">
                        @if (ShowText)
                        {
                            <span style="animation: fadeIn 0.1s ease-in-out; display: inline-block;">Document history</span>
                        }
                    </MudNavLink>
                }

                @if (context.User.IsInRole("Admin"))
                {
                    <MudNavLink Class="mb-4" Href="/manage-offices" Icon="@Icons.Material.Filled.Business">
                        @if (ShowText)
                        {
                            <span style="animation: fadeIn 0.1s ease-in-out; display: inline-block;">Manage Offices</span>
                        }
                    </MudNavLink>
                    <MudNavLink Class="mb-4" Href="/manage-users" Icon="@Icons.Material.Filled.People">
                        @if (ShowText)
                        {
                            <span style="animation: fadeIn 0.1s ease-in-out; display: inline-block;">User Management</span>
                        }
                    </MudNavLink>
                    <MudNavLink Class="mb-4" Href="/document-tracking" Icon="@Icons.Material.Filled.Description">
                        @if (ShowText)
                        {
                            <span style="animation: fadeIn 0.1s ease-in-out; display: inline-block;">Document Tracking</span>
                        }
                    </MudNavLink>
                }
            </Authorized>
        </AuthorizeView>
    </MudNavMenu>

    <MudNavMenu Class="mt-auto">
        <AuthorizeView>
            <Authorized>
                <MudNavLink Href="/Account/Logout" ForceLoad="true" Icon="@Icons.Material.Filled.Logout">
                    @if (ShowText)
                    {
                        <span style="animation: fadeIn 0.1s ease-in-out; display: inline-block;">Logout</span>
                    }
                </MudNavLink>
            </Authorized>
        </AuthorizeView>
    </MudNavMenu>

</div>

@code {
    [CascadingParameter]
    public bool ShowText { get; set; } = true;
}