<MudNavMenu>
    <MudNavLink Href="/" Style="align-content" Typo="Typo.h6" Match="NavLinkMatch.All" ForceLoad="true" Icon="@Icons.Material.Filled.Home">Dashboard</MudNavLink>

    <AuthorizeView>
        <Authorized>
            @if (!context.User.IsInRole("Admin") && !context.User.IsInRole("Office"))
            {
                <MudNavLink Href="/create-document" Icon="@Icons.Material.Filled.NoteAdd">Create Document</MudNavLink>
                <MudNavLink Href="/my-tracking" Icon="@Icons.Material.Filled.History">My Tracking</MudNavLink>
            }
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="Office">
        <Authorized>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="Admin">
        <Authorized>
            <MudNavLink Href="/manage-offices" Icon="@Icons.Material.Filled.Business">Manage Offices</MudNavLink>
            <MudNavLink Href="/manage-users" Icon="@Icons.Material.Filled.People">User Management</MudNavLink>
            <MudNavLink Href="/document-tracking" Icon="@Icons.Material.Filled.Description">Document Tracking</MudNavLink>
        </Authorized>
    </AuthorizeView>
</MudNavMenu>

    <div class="mt-auto pa-4">
    <LoginDisplay />
    </div>